* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin atSmall {
  @media (min-width: 530px) {
    @content;
  }
}

@mixin atSmallMedium {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin atSmallMediumSearchFix {
  @media (min-width: 783px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 1024px) {
    @content;
  }
}

body {
  color: #555;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  position: relative;
  background: $mainBodyColor;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $mainCoral;
}

a:hover {
  text-decoration: none;
}

p,
ul,
ol {
  margin: 0 0 1.65em 0;
}

p,
li {
  line-height: 1.65;
}
