* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin atSmall {
  @media (min-width: 530px) {
    @content;
  }
}

@mixin atSmallMediumMax {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin atSmallMedium {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin atSmallMediumMin {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin atSmallMediumSearchFix {
  @media (min-width: 783px) {
    @content;
  }
}

@mixin atSmallMedium799Max {
  @media (max-width: 799px) {
    @content;
  }
} 

@mixin atSmallMedium800Min {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 960px) {
    @content;
  }
}

@mixin atSmallLarge {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin atSmallLargeMax {
  @media (max-width: 1024px) {
    @content;
  }
}

body {
  color: #555;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  position: relative;
  background: $mainBodyColor;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* added for WordPress site sticky footer styling */
.container {
  flex: 1;
  width: 100%;
}
/* end sticky footer addition for WordPress site */

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $mainCoral;
}

a:hover {
  text-decoration: none;
}

p,
ul,
ol {
  margin: 0 0 1.65em 0;
}

p,
li {
  line-height: 1.65;
}
