$beige: #ffb990;
$blockquoteColor: #008080;
$breadCrumbColor: #559e83;
$citeColor: #1b85b8;
$coffeeBeige: #eacdb7;
$dateBeige: #d9907a;
$darkOrange: #F95738;
$lastModifiedColor: #c8412d;
$lastModifiedBG: #c3cb71;
$lightOrange: #EE964B;
$mainBlue: #0D3B66;
$groupsBodyColor: #cdc1c8;
$groupsCardBgColor: #9bb88e;
$groupsInputColor: #e6d7d1;
$groupsMobileNavBgColor: #9bb88e;
$membersCardBgColor: #442a45;
$membersMobileNavBgColor: #442a45;
$groupsSearchFilterColor: #e5be95;
$membersSearchFilterColor: #fbcbb9;
$membersSearchInputColor: #c5cbc6;
$mainBodyColor: #f9e5e5;
$mainCoral: #ee6b6b;
$mainYellow: #F4D35E;
$mustardYellow: #ff8000;
$darkBrown: #482417;
$medDrkBrown: #6c3b27;
$rustBrown: #8b4726;
$mobileNavBackground: #a89e95;

/* media queries */
$atSmallMediumMin: '(min-width: 769px)';
$atSmallLargeMax: '(max-width: 1024px)';
$atSmallLargeMaxFix: '(max-width: 1026px)';
$atSmallLargeMin1025: '(min-width: 1025px)';
$atSmallLargeFix: '(min-width: 1027px)';
$atMediumLargeMax1170: '(max-width: 1170px)';
$atLarge1300Max: '(max-width: 1300px)';
$atLarge1340Max: '(max-width: 1340px)';