$beige: #fbd6c8;
$coffeeBeige: #eacdb7;
$dateBeige: #d9907a;
$darkOrange: #F95738;
$lightOrange: #EE964B;
$mainBlue: #0D3B66;
$mainBodyColor: #f9e5e5;
$mainCoral: #ee6b6b;
$mainYellow: #F4D35E;
$mustardYellow: #ff8000;
$darkBrown: #482417;
$medDrkBrown: #6c3b27;
$rustBrown: #8b4726;
$mobileNavBackground: #a89e95;