.generic-content {
  word-break: break-word;
  ul {
    list-style-type: none;
    li {
      a {
        text-decoration: none;
        font-size: 1.3rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  p,
  li {
    font-size: 1.15rem;
  }

  blockquote {
    border-left: 5px solid $blockquoteColor;
    padding-left: 8px;
  }

  blockquote,
  blockquote p {
    font-size: 1.2rem;
    font-style: italic;
    color: $blockquoteColor;

  }

 cite {
    color: $citeColor;
    font-size: 1rem;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .wp-block-code code {
    // background: #ccc;
    padding: 10px 15px;
    overflow-x: scroll;
    font-size: 1.25rem;
  }

  code {
    color: $inlineCodeColor;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 3.1rem;
  }
  h3 {
    font-size: 2.6rem;
  }
  h4 {
    font-size: 2.1rem;
  }
  h5 {
    font-size: 1.6rem;
  }
  h6 {
    font-size: 1.15rem;
  }

  @include atSmall {
    h1 {
      font-size: 6.25rem;
    }
    h2 {
      font-size: 5rem;
    }
    h3 {
      font-size: 3.125rem;
    }
    h4 {
      font-size: 2.4rem;
    }
    h5 {
      font-size: 1.9rem;
    }
    h6 {
      font-size: 1.15rem;
    }
  }
}
