.last-modified, .in-program {
    font-weight: normal;
}

.last-modified {
    display: block;
    color: #525266;
    padding: 0 15px;
}

.in-program {
    background: none;
    display: inline-block;
    margin-top: 5px;
}