.link-list {
  li {
  margin-left: 1rem;
    padding: 1rem 0;
    font-size: 1.5rem;
    border-bottom: 1px dotted #DEDEDE;

    .search-overlay & {
      font-size: 1.3rem;
    }
  }

  li:last-child {
    border-bottom: none;
  }

  a {
    color: $mainCoral;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.program-list {
  margin-top: 2.5rem;
  li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.7rem;
    max-width: 960px;
    padding: 1rem 0;
    font-style: italic;
    & a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}