.main-navigation {
  padding-top: 2px;

  ul {
    padding: 0;
    margin: 0;
  }

  ul:before,
  ul:after {
    content: " ";
    display: table;
  }

  ul:after {
    clear: both;
  }

  @include atSmallLargeFix {
    margin-right: 20px;
  }
}

.main-navigation li {
  list-style: none;

  @include atSmallLargeFix {
    float: left;
    padding-left: 20px;
  }
}

/* sub-menu styling pre-visibility */

li ul.sub-nav {
  display: flex;
  flex-direction: column;
  @include atSmallLargeFix {
    display: none;
  }
}

.main-navigation a {
  text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2rem;
  @include atSmallLargeFix {
    display: inline-block;
    padding: 0;
  }
}

.main-navigation .current-menu-item a,
.main-navigation a:hover {
  color: $beige;
}

/* Community sub-menu styling screens >= 1024px */

li ul.subnav-show {
  @include atSmallLargeFix {
    box-shadow: 1px 2px 1px rgba(0,0,0,0.3);
    display: flex;
    cursor: pointer;
    flex-direction: row;
    font-weight: 300;
    position: absolute;
    background: $mainCoral;
    width: 100%;
    left: 0;
    border-radius: 3px;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
    margin-top: 1rem;
    & li {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      & a:hover {
        color: $beige;
      }
    }
  }
}

.menu-link.nav-highlight-community {
  display: none;
  &:hover {
    color: $beige;
  }
  @include atSmallLargeFix {
    display: flex;
    cursor: pointer;
    padding-left: 0;
    margin-top: 0;
    font-size: 1.2rem;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
    color: #fff;
    font-weight: 300;
  }
}


