.metabox {
  background-color: $beige;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 1.88rem;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);

  &--position-up {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }

  &--with-home-link {
    padding: 0;
  }

  &__main {
    padding: 10px 15px 10px 11px;
    color: $citeColor;
  }

  p {
    margin: 0;
    font-size: 0.9rem;
    color: adjust-color($rustBrown, $lightness: -45%, $saturation: -33%);
  }

  a {
    color: adjust-color($rustBrown, $lightness: -45%, $saturation: -33%);
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }

  & &__blog-home-link {
    background-color: $mainCoral;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-weight: normal;
  }

  & &__blog-home-link:hover {
    text-decoration: none;
    background-color: adjust-color($mainCoral, $lightness: -5%);
  }

  & .tags {
    margin-top: 0;
  }

  & .categories-text,
  .tags-text {
    color: $citeColor;
  }
}

.metabox-single-wrapper {
  margin-top: 1.7rem;
  @include atSmall {
    margin-top: 0;
  }
}

.metabox__categories,
.metabox__tags,
.metabox__categories--single,
.metabox__tags--single {
  & p {
    color: $citeColor;
    display: inline-block;
    font-size: 0.9rem;
    margin-top: 0;
    padding: 10px 15px;
    background-color: $beige;
    margin-bottom: 1rem;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
    & a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
  }
}

.metabox__categories--single {
  margin-top: 1.5rem;
}