.page-links {
  position: relative;
  z-index: 1;
  background-color: $beige;
  border-radius: 4px;
  box-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  margin: 0 0 40px 0;
  @include atSmallMedium {
    margin: 0 0 40px 20px;
    width: 300px;
    float: right;
  }

  &__title {
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding: 20px 0;
    background-color: $mainCoral;
    border-radius: 4px 4px 0 0;
    color: #fff;

    a {
      color: #fff;
      text-decoration: none;
      background-color: $mainCoral;
    }
  }

  li {
    border-top: 1px solid adjust-color($beige, $lightness: -14%);
  }

  li:first-child {
    border-top: none;
  }

  &__active,
  & .current_page_item {
    text-align: center;
    background-color: scale-color($beige, $lightness: -7%, $saturation: -10%);
    color: $mainCoral;
    font-weight: bold;
  }

  li a {
    display: block;
    text-align: center;
    padding: 17px 10px;
    text-decoration: none;
    color: $mainCoral;
    transition: all 0.3s;
  }

  li a:hover {
    color: adjust-color($mainCoral, $lightness: -6%);
    background-color: scale-color($beige, $lightness: -9%, $saturation: -12%);
  }
}
