.post-item {
  border-bottom: 1px dotted #DEDEDE;
  padding-bottom: 1.7rem;
  margin-bottom: 1.7rem;

  & .metabox {
    margin-top: 1.88rem;
    & p {
      color: $citeColor;
    }
  }

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }
}