body.bp-user .school-logo-text a,
body.bp-user nav.main-navigation ul li a {
    color: #848b92;
}

body.bp-user nav.main-navigation ul li a {
    text-transform: uppercase;
}

body.bp-user nav.main-navigation ul li a:hover,
body.bp-user .school-logo-text a:hover {
    color: #ff7f76;
}

body.bp-user header.site-header {
    background: #fff;
}

.youzify-profile-header .youzify-tools {
    position: relative;
    left: 0;
    top: 0;
    z-index: -1;
}

.youzify-profile-header {
    top: 12px;
    bottom: 0;
    margin-bottom: 12px;
}