body.single-item.groups .youzify-hdr-v1 .youzify-cover-content .youzify-inner-content {
    @media #{$atSmallMediumMin} {
    left: 50%;
    transform: translateX(-50%);
    max-width: 1300px;
    width: 97.5%;
    margin-left: 0.5rem;
  }
}

body.single-item.groups .youzify-hdr-v1 .youzify-cover-content .youzify-user-statistics {
  @media #{$atSmallMediumMin} {
    padding-right: 0;
    margin-right: 0.5rem;
  }
}

body.single-item.groups .youzify-hdr-v1 .youzify-cover-content .youzify-user-statistics li {
  margin: 0 auto;
}

body.single-item.groups .youzify-user-statistics li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body.single-item.groups .youzify-settings-area {
  @include atSmallMediumMin {
    padding-right: 1.5rem;
    padding-left: -1.5rem;
  }
}

body.single-item.groups .youzify-settings-area .youzify-nav-settings {
  @include atSmallMediumMin {
    padding-right: 0.75rem;
    padding-left: -1.5rem;
  }
}

.youzify-page.youzify-group .container {
  width: 100%;
  margin: 0 auto;
}

body.single-item.groups .youzify-page.youzify-group, body.single-item.groups #youzify  {
    background: $groupsBodyColor !important;
}

body.single-item.groups footer.site-footer {
    background-image: linear-gradient($groupsBodyColor, $groupsBodyColor);
    &__inner {
        border-top: 1px solid black !important;
        padding-top: 3.5rem;
    }
}