.youzify-page {
    background: #ffe8e5 !important;
}

.youzify-search-landing-image-container {
    background-color: #ffe8e5 !important;
}

body.directory.members nav.main-navigation ul li a,
body.directory.members i.fa-search,
body.directory.members .school-logo-text a {
    color: #848b92;
}

body.directory.members nav.main-navigation ul li a {
    text-transform: uppercase;
}

body.directory.members nav.main-navigation ul li a:hover,
body.directory.members .school-logo-text a:hover {
    color: #ff7f76;
}

body.directory.members.logged-in.admin-bar .site-header__menu-trigger {
    color: #ff7f76;
}

body.directory.members header.site-header {
    background: #fff;
}

.youzify-search-landing-heading {
    margin-top: 6rem;
    color: #848b92;
}

p.youzify-search-landing-heading-text {
    display: none;
}