/* Points to wherever these classes are being used, not just single group view */
.youzify-cover-content, header.youzify-header-content {
    margin-top: -0.75rem;
}

body.single-item.groups .youzify-page.youzify-group, body.single-item.groups #youzify  {
    background: $groupsBodyColor !important;
}

body.single-item.groups footer.site-footer {
    background-image: linear-gradient($groupsBodyColor, $groupsBodyColor);
    &__inner {
        border-top: 1px solid black !important;
        padding-top: 3.5rem;
    }
}